header{
    
    text-align: center;
    margin: 15px 0 0;
}

.front{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("/resources/Banner\ image.png");
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    text-align: center;
    color: aliceblue;
    font-size: 72px;
}